#navbar{
    background: transparent;
    border: none;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    & li > a {
        color: $white;
    }
    li.active a{
        background-color: rgba(238, 238, 238, 0.2);
        color: $white;
    }
    .navbar-brand{
        color: $brand-primary;
    }
}
//.navbar-default .navbar-nav